header {
  background-color: #4584ea; /* Light Blue */
}

header h1 {
  color:#3bdb66; /* My Favorite Color */
}

nav {
  border-bottom: 2px solid black;
}

nav ul li a {
  font-size: 18px;
}

footer {
  text-align: center;
}

.box {
  background-color: lightgrey; /* Light Grey or Your Custom Color */
  padding: 20px;
}